// VARIABLES
$color-lighter: #eee;
$color-light: #ddd;
$color-medium: #aaa;
$color-dark: #444;

$accent-primary: #0075c4;
$accent-secondary: #d65108;

$font-normal: "Jura", sans-serif;
$font-em: "Montserrat", sans-serif;

// DEFAULT VALUES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-lighter;
  background-image: linear-gradient($color-light, $color-lighter);
}

#clock-app {
  width: 100%;
  max-width: 360px;
  text-align: center;
  font-family: $font-normal;
  color: $color-dark;

  // PROPERTIES COMMON TO TIMER AND SETUP
  .block {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-medium;
    background-color: $color-lighter;

    .block-display {
      background-color: $color-lighter;
      border-radius: 5px;
      font-family: $font-em;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      button {
        flex: 1 1 50%;
        border: none;
        border-radius: 5px;
        color: $color-lighter;

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }

  // TIMER PROPERTIES
  #timer {
    .block-label {
      padding: 30px 0px;
      font-size: 30px;
    }

    .block-display {
      margin: 10px 10px;
      font-size: 70px;
    }

    button {
      margin: 20px 10px;
      height: 50px;
      font-size: 26px;
    }
  }

  // SETTING PROPERTIES
  #settings {
    display: flex;
    flex-direction: row;

    .setup-block {
      flex: 1 1 100%;

      .block-label {
        padding: 15px 0px;
        font-size: 18px;
      }

      .block-display {
        margin: 10px 5px;
        font-size: 40px;
      }

      button {
        margin: 10px 5px;
        height: 30px;
        width: 30px;
        font-size: 20px;
      }
    }
  }
}

// COLORS FOR SPECIFIC SETTINGS
.session-colors {
  .block-label {
    color: $accent-primary;
  }
  button {
    background-color: $accent-primary;
  }
}

.break-colors {
  .block-label {
    color: $accent-secondary;
  }
  button {
    background-color: $accent-secondary;
  }
}
