// VARIABLES
$color-lighter: #eee;
$color-light: #ddd;
$color-medium: #aaa;
$color-dark: #222;
$color-darker: #111;

$accent-super-light: #f4f1de;
$accent-lighter: #f4f1de;
$accent-light: #f2cc8f;
$accent-light2: #eebc6d;
$accent-warm: #e07a5f;
$accent-warm2: #db6443;
$accent-medium: #81b19b;
$accent-medium2: #67a288;
$accent-dark: #3d405b;
$accent-dark2: #292b3d;

$font-normal: "Roboto Slab", serif;
$font-em: "Oxanium", cursive;

// DEFAULT VALUES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-lighter;
  background-image: linear-gradient($color-light, $color-lighter);
}

#clock-app {
  width: 100%;
  max-width: 460px;
  text-align: center;
  font-family: $font-normal;
  color: $color-lighter;

  // PROPERTIES COMMON TO TIMER AND SETUP
  .block {
    margin: 15px;
    border-radius: 20px;
    background-color: $accent-dark2;
    box-shadow: 0px 0px 5px 2px $color-medium;

    .block-display {
      margin: 0px 20px;
      border-radius: 10px;
      background-color: $accent-dark;
      font-family: $font-em;
    }

    button {
      border: none;
      border-radius: 5px;
      color: $accent-dark2;

      &:active {
        transform: translateY(2px);
      }
    }
  }

  // TIMER PROPERTIES
  #timer {
    #timer-header {
      padding: 10px;
      h1 {
        padding: 10px 0px;
        font-size: 40px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 20px;
      }
    }

    .block-label {
      padding: 10px 0px;
      padding-bottom: 30px;
      font-size: 30px;
    }

    .block-display {
      padding: 30px 5px;
      font-size: 90px;
    }

    button {
      margin: 30px 5px;
      height: 60px;
      width: 60px;
      font-size: 30px;
    }
  }

  // SETTING PROPERTIES
  #settings {
    display: flex;
    flex-direction: row;

    .setup-block {
      flex: 1 1 100%;

      .block-label {
        padding: 20px 0px;
        font-size: 16px;
      }

      .block-display {
        padding: 10px 5px;
        font-size: 40px;
      }

      button {
        margin: 15px 3px;
        height: 30px;
        width: 30px;
        font-size: 20px;
      }
    }
  }
}

// COLORS FOR SPECIFIC SETTINGS
.session-colors {
  .block-label {
    color: $accent-light;
  }
  button {
    background-color: $accent-light;
  }
}

.break-colors {
  .block-label {
    color: $accent-medium;
  }
  button {
    background-color: $accent-medium;
  }
}
