// VARIABLES
$color-lighter: #eee;
$color-light: #ddd;
$color-medium: #bbb;
$color-dark: #444;

$accent-primary: #e76f51;
$accent-secondary: #2a9d8f;
$accent-highlight: #e9c46a;

$font-normal: "Jura", sans-serif;
$font-em: "Oxanium", cursive;

// DEFAULT VALUES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-lighter;
  background-image: linear-gradient($color-light, $color-lighter);
}

// CLOCK APP
#clock-app {
  width: 100%;
  max-width: 360px;
  text-align: center;
  font-family: $font-normal;

  // PROPERTIES COMMON TO TIMER AND SETUP
  .block {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-medium;
    background-color: $color-lighter;
    box-shadow: 0px 6px 6px 4px $color-light;

    .block-display {
      font-family: $font-em;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      button {
        flex: 1 1 50%;
        border: none;
        border-radius: 999px;
        transition: background-color 0.3s ease;

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }

  // TIMER PROPERTIES
  #timer {
    .block-label {
      padding: 30px 0px;
      font-size: 30px;
    }

    .block-display {
      font-size: 70px;
    }

    button {
      margin: 30px 10px;
      height: 40px;
      font-size: 22px;
    }
  }

  // SETTING PROPERTIES
  #settings {
    display: flex;
    flex-direction: row;

    .setup-block {
      flex: 1 1 50%;

      .block-label {
        padding: 15px 0px;
        font-size: 20px;
      }

      .block-display {
        font-size: 40px;
      }

      button {
        margin: 15px 5px;
        height: 24px;
        font-size: 14px;
      }
    }
  }
}

// COLORS FOR SPECIFIC SETTINGS
@mixin category-color($color) {
  .block-label {
    color: $color;
  }
  button {
    background-color: $color;
    color: $color-lighter;

    &:hover {
      background-color: $accent-highlight;
      color: $color;
    }
  }
}

.session-colors {
  @include category-color($accent-primary);
}

.break-colors {
  @include category-color($accent-secondary);
}
